.leaflet-container {
  max-width: 100%;
  max-height: 100%;
}

#map {
  min-height: 500px;
}

#TGFmap {
  min-height: 575px;
}

p.tgfMapLegend {
  margin-top: 3px;
  margin-bottom: 0px;
}

p.tgfMapTitle {
  margin-top: 3px;
  margin-bottom: 0px;
}

.mapFull {
  padding: 10px;
  width: 100%;
  height: auto;
  border: 1px black solid;
  margin-bottom: 0rem;
  border-radius: 0.3rem;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.circle {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border-style: solid;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.circle.circle1 {
  background: rgba(255, 176, 18, 0.621);
  border-color: #f5970b;
  color: white;
}

.circle.circle2 {
  background: #1279ff9e;
  font-size: 10px;
  border-color: hsl(201, 92%, 50%);
  color: white;
}

.leaflet-marker-icon:has(.circle2) {
  z-index: 2000 !important;
}

.my-control {
  background: #fff;
  padding: 5px;
}
