/* desktop media styles */

img[src*='FULL'] {
  width: 100%;
  height: auto;
  margin-bottom: 0rem;
  border-radius: 0.3rem;
}

img[src*='LEFT'] {
  width: 50%;
  height: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  margin-right: 1.5rem;
  border-radius: 0.3rem;
  float: left !important;
}

img[src*='RIGHT'] {
  width: 50%;
  height: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  margin-left: 1.5rem;
  border-radius: 0.3rem;
  float: right !important;
}

.apexcharts-legend-text {
  font-size: 1rem !important;
  margin-right: 10px;
}
