---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageMeta = {
  title: 'Hello Stu | 404',
  description: 'Sorry!',
  imageUrl: '/social_images/hellostu-social.jpg',
};
import { Image } from 'astro:assets';
import NotFound from '/src/content/page_images/not-the-droids.jpg';
---

<BaseLayout pageMeta={pageMeta}>
  <section class="about content-padding">
    <h2>404 | Sorry that page doesn't exist!</h2>
    <p>
      <Image
        src={NotFound}
        alt="these are not the droids you are looking for meme"
        class="imageFull"
      />
      Uh-oh. Something has gone wrong. Return to the homepage and take another look.
    </p>
  </section>
</BaseLayout>
