---
const { chartAlign } = Astro.props;
---

<script>
  import './charts/blogging.js';
</script>
<div className={chartAlign}>
  <p>Breakdown of how I spend any blog writing time</p>
  <div id="blogging-chart"></div>
</div>
