---
import 'leaflet/dist/leaflet.css';
import '../../styles/maps.css';
const { mapAlign } = Astro.props;
---

<script>
  import './maps/fire-inc-map.js';
</script>
<div class={mapAlign}>
  <div id="map"></div>
</div>
