---
import { Icon } from 'astro-icon/components';
---

<footer id="footer">
  <section class="footer content-padding">
    <p>
      All content shared under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >Creative Commons License CC-BY-CN-SA</a
      > by Stuart Mackenzie
    </p>
    <a href="https://uk.linkedin.com/in/stuartjmackenzie/" class="social-icon"
      ><Icon name="linkedin" /></a
    >
    <a href="https://www.strava.com/athletes/1170885/" class="social-icon"
      ><Icon name="strava" /></a
    >
    <a href="https://www.threads.net/@_d1sco" class="social-icon"
      ><Icon name="threads" /></a
    >
    <a href="https://github.com/d1sc0/" class="social-icon"
      ><Icon name="github" /></a
    >
    <a href="https://www.instagram.com/_d1sco/" class="social-icon"
      ><Icon name="instagram" /></a
    >
    <a href="https://bsky.app/profile/hellostu.xyz" class="social-icon"
      ><Icon name="bluesky" /></a
    >
  </section>
</footer>
