---
const { posts, gridTitle } = Astro.props;
import PostPreview from './PostPreview.astro';
---

<section class="postgrid">
  <h2 class="content-padding">{gridTitle}</h2>
  <div class="grid content-padding">
    {posts.map(post => <PostPreview data={post.data} slug={post.slug} />)}
  </div>
</section>
