---
const { posts, gridTitle } = Astro.props;
import TagPostPreview from './TagPostPreview.astro';
---

<section class="tag-post-list">
  <h2 class="content-padding">{gridTitle}</h2>
  <div class="content-padding">
    {
      posts.map(post => (
        <TagPostPreview url={'/posts/' + post.slug} data={post.data} />
      ))
    }
  </div>
</section>
