---

---

<section id="socials" class="social-links">
  <div class="content-padding">
    <h2>Find me and say hello!</h2>
    <p>
      Here are some other places on the internet you can find me, follow me,
      like my stuff, give me feedback or maybe drop me a direct message and
      arrange a coffee IRL! :)
      <ul>
        <li>
          <a href="https://uk.linkedin.com/in/stuartjmackenzie/">Linked.In</a>
        </li>
        <li>
          <a href="https://www.threads.net/@_d1sco">Threads</a>
        </li>
        <li>
          <a href="https://www.strava.com/athletes/1170885/">Strava</a>
        </li>
        <li>
          <a href="https://github.com/d1sc0/">Github</a>
        </li>
        <li>
          <a href="https://www.instagram.com/_d1sco/">Instagram</a>
        </li>
        <li>
          <a href="https://bsky.app/profile/hellostu.xyz">Bluesky</a>
        </li>
      </ul>
    </p>
  </div>
</section>
