@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;

// color pallette
// https://coolors.co/140000-ffffff-da2c38-ffb238-3f7cac
$weight-bold: 700;
$link: #da2c38;
$cyan: #3f7cac;
$orange: #ffb238;
$background: #ffffff;
$info: $cyan;
$success: $orange;
$size-1: 2.8rem;

@import '~bulma/bulma.sass';

//add any additonal styles dependant on variables below
.cursor {
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  display: inline-block;
  width: 14px;
  height: 1.6rem;
  background-color: $link;
  animation: cursor-blink 1s steps(2) infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.rounded-corners {
  border-radius: 10px;
}

.home p {
  font-size: $size-3;
  font-weight: $weight-bold;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.home a {
  text-decoration: underline;
}

.tag a,
.tag a:hover {
  color: $white;
}
.tag a:hover {
  text-decoration: underline;
}

.post-title:hover {
  color: $link;
}

.content a {
  text-decoration: underline;
  font-weight: 500;
}

.content.is-medium {
  font-size: 1.125rem;
}

.navbar-brand a,
.navbar-brand a:hover {
  color: #4a4a4a;
}

.imageFull {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.imageLeft {
  width: 50%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  float: left !important;
}

.imageRight {
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  float: right !important;
}

@include mobile {
  .imageLeft {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  .imageRight {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
}
