@charset "utf-8";

// If need, change your variables before importing Bulma
//$title-color: #ff0000;

// color pallette
// https://coolors.co/140000-ffffff-da2c38-ffb238-3f7cac
$weight-bold: 700;
$link: #da2c38;
$cyan: #3f7cac;
$orange: #ffb238;
$background: #ffffff;
$info: $cyan;
$success: $orange;
$size-1: 2.8rem;

@import '~bulma/bulma.sass';

//add any additonal styles dependant on variables below
.cursor {
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  display: inline-block;
  width: 14px;
  height: 1.6rem;
  background-color: $link;
  animation: cursor-blink 1s steps(2) infinite;
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.rounded-corners {
  border-radius: 10px;
}

.home p {
  font-size: $size-3;
  font-weight: $weight-bold;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.home a {
  text-decoration: underline;
}

.tag a,
.tag a:hover {
  color: $white;
}
.tag a:hover {
  text-decoration: underline;
}

.post-title:hover {
  color: $link;
}

.content a {
  text-decoration: underline;
  font-weight: 500;
}

.content blockquote {
  background-color: #d9ecfb;
}

.leaflet-control-zoom a {
  text-decoration: none;
  font-weight: normal;
}

.content.is-medium {
  font-size: 1.125rem;
}

.navbar-brand a,
.navbar-brand a:hover {
  color: #4a4a4a;
}

.imageFull {
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}

.imageLeft {
  width: 50%;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  float: left !important;
}

.imageRight {
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  float: right !important;
}

.legend {
  text-align: left;
  line-height: 20px;
  color: #555;
  font-size: 1rem;
  background-color: $background;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.legend i {
  width: 19px;
  height: 19px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  background: $background;
  width: 300px;
  font-size: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 5px;
}

@include mobile {
  .imageLeft {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .imageRight {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .legend {
    display: none;
  }
}