---
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/gochi-hand';
import '@fontsource/poppins';
import '../styles/global.css';
const { frontmatter, pageTitle } = Astro.props;
---

<html lang="en">
  <HeadSEO frontmatter={frontmatter} pageTitle={pageTitle} />
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
        <p class="toplink content-padding">
          <a href="#top">[Back to top]</a>
        </p>
      </main>
      <Footer />
    </div>
    <script>
      import '../scripts/menu.js';
    </script>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
  </body>
</html>
