---
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PageScripts from '../components/PageScripts.astro';
import '../styles/global.css';
const { frontmatter, pageMeta } = Astro.props;
---

<html lang="en">
  <HeadSEO frontmatter={frontmatter} pageMeta={pageMeta} />
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
        <p class="toplink content-padding">
          <a href="#top">[Back to top]</a>
        </p>
      </main>
      <Footer />
    </div>
    <PageScripts />
  </body>
</html>
