---
import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/gochi-hand';
import '@fontsource/poppins';
import '../styles/global.css';
const { frontmatter } = Astro.props;
const { pageTitle } = Astro.props;
const siteInfo = {
  description: 'This is the default description',
  imageUrl: '/site_images/hellostu-default1200x630.jpg',
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={pageTitle != undefined
        ? pageTitle
        : 'Hello Stu | ' + frontmatter.title}
      description={frontmatter !== undefined
        ? frontmatter.description
        : siteInfo.description}
      openGraph={{
        basic: {
          title: pageTitle != undefined ? pageTitle : frontmatter.title,
          type: frontmatter !== undefined ? 'article' : 'website',
          image:
            frontmatter !== undefined
              ? frontmatter.socialImage
              : siteInfo.imageUrl,
        },
      }}
    />
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
        <p class="toplink content-padding">
          <a href="#top">[Back to top]</a>
        </p>
      </main>
      <Footer />
    </div>
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>
